# Group information: <br>
Phạm Khánh Linh 23127083 <br>
Võ Trung Hiếu 23127190<br>
Võ Hoàng Thương 23127493<br>

# 1. Data collection

## 1.1 Đề tài của bộ dữ liệu <br>
- Bộ dữ liệu thuộc lĩnh vực ngành công nghiệp game, chứa thông tin về các trò chơi điện tử và số liệu doanh số bán hàng của chúng trên nhiều nền tảng.

- Bộ dữ liệu phản ánh thực trạng thị trường game thế giới, bao gồm doanh số thực tế, nền tảng phát hành và mức độ phổ biến của từng tựa game.

## 1.2 Nguồn dữ liệu <br>
- Nguồn dữ liệu được thu thập và chia sẻ trên Kaggle:
https://www.kaggle.com/datasets/gsimonx37/vgchartz
- Tác giả đăng tải trên Kaggle là gsimonx37; dữ liệu gốc tổng hợp từ VGChartz, một trang theo dõi doanh số game toàn cầu.
- Bộ dữ liệu được tải lên Kaggle vào năm 2024 (thời điểm thu thập theo mô tả trên trang dataset).

## 1.3 Được cấp phép sử dụng dữ liệu không?

- GPLv3
- Có thể dùng được cho mục đích học tập (trích trong văn bản giấy phép đoạn: This License explicitly affirms your unlimited permission to run the unmodified Program.)
- GPLv3 hầu như không có giới hạn gì về việc sử dụng (running) phần mềm (Nhưng cần lưu ý rằng không được áp đặt bất kỳ hạn chế nào nữa đối với việc thực hiện các quyền được cấp hoặc xác nhận theo Giấy phép này)
- Chỉ có yêu cầu ghi công khi phát hành lại phần mềm, không áp dụng khi chỉ dùng nội bộ hoặc dạy học mà không phát hành.
    - Nhưng nếu phát hành lại bản gốc: Giữ nguyên copyright notice, giữ nguyên tất cả thông báo “Licensed under GPLv3”, kèm theo một bản sao GPLv3.
    - Phát hành bản đã sửa đổi: Thêm dòng thông báo bạn đã sửa đổi + ngày, thông báo rõ là phát hành dưới GPLv3, giữ nguyên các notice cũ.

## 1.4 Dữ liệu được thu thập như thế nào
### 1.4.1 Phương pháp thu thập
• Dữ liệu được tác giả thu thập bằng phương pháp web scraping từ trang vgchartz.com. 
### 1.4.2 Đối tượng mục tiêu và phương pháp lấy mẫu:
• Đối tượng mục tiêu: là dữ liệu doanh số các tựa game trên toàn cầu, nhưng chủ yếu trung vào game bán lẻ(retail) vì VGCharts đã ngừng ước tính  tính doanh số kỹ thuật số từ 2018

• Phương pháp lấy mẫu: Ở đây tác giả không đề cập đến sẽ lấy các mẫu nào chỉ nói đến việc thu thập dữ liệu bằng một chương trình tự động, tức là lấy mẫu toàn bộ dữ liệu bao gồm tất cả các tựa game có sẵn trên VGCharts
### 1.4.3 Khoảng thời gian thu thập dữ liệu
Tác giả không đề cập đến thời gian cào dữ liệu nhưng trang web VGChartz được thành lập từ (2005) và từ năm 2018 trở đi thì VGChart ngừng ước tính doanh số phần mềm vì thị trường kỹ thuật số chiếm tỷ trọng lớn,khó đo lường và dữ liệu chỉ có trường "date" là ngày phát hành game và không có ngày công bố trên VGChart, dữ liệu ngày phát hành game với khoảng vùng 01-01-1970 đến 31-12-2024
### 1.4.4 Hạn chế và bias dữ liệu
Do sau năm 2018 VGChart ngừng ước tính doanh số phần mềm nên dữ liệu chủ yếu phản ánh doanh số bán lẻ vật lý, nên có thể dữ liệu về doanh số phần mềm sẽ bị thiếu hoặc ít và phần lớn dữ liệu doanh số cũng chỉ là ước tính từ VGChart chỉ một số ít là từ nhà phát hành nên cũng có thể có rủi ro về ước tính

## 1.5 Lý do chọn tập dữ liệu

Chúng em chọn dataset VGChartz (Video Game Sales) vì:

- Chủ đề cực kỳ hấp dẫn và gần gũi: ngành game hiện lớn hơn cả phim và nhạc cộng lại, mọi thành viên trong nhóm đều đam mê và muốn khám phá lý do vì sao một số game thành “huyền thoại” về doanh số.
- Nguồn dữ liệu uy tín: VGChartz là một trong những trang theo dõi doanh số game nổi tiếng nhất thế giới, được giới chuyên môn tin dùng nhiều năm.
- Rất giàu thông tin: hơn 55.000 tựa game với doanh số theo khu vực, nền tảng, nhà phát hành, điểm đánh giá – đủ để làm từ phân tích cơ bản đến mô hình dự đoán doanh số.
- Phù hợp mọi trình độ
- Dữ liệu đã khá sạch và dễ tiếp cận trên Kaggle.

Dataset VGChartz cho phép trả lời rất nhiều câu hỏi thú vị như:

- Năm nào là đỉnh cao của ngành game về số lượng và doanh số?
- Tháng nào trong năm là mùa phát hành game nóng nhất và vì sao?
- Thị trường Nhật Bản khác biệt thế nào so với Bắc Mỹ và châu Âu?
- Nền tảng và nhà phát hành nào thống trị ngành qua các thời kỳ?
- Điểm số của giới phê bình và người chơi có thực sự quyết định doanh số không?
- Dataset này không chỉ cho chúng em thấy ai bán chạy nhất, mà còn giúp hiểu rõ công thức thành công thực sự của một tựa game trong ngành công nghiệp hàng trăm tỷ đô la này.

# 2. Khám phá dữ liệu

Đọc file lưu vào dataframe.

In [30]:
import pandas as pd 
import numpy as np

In [31]:
df = pd.read_csv("vgchartz.csv")

In [32]:
df.head(10)

,name,date,platform,publisher,developer,shipped,total,america,europe,japan,other,vgc,critic,user
0,Tetris,1988-01-01,Series,The Tetris Company,Alexey Pajitnov,520.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Pokemon,1998-09-28,Series,Nintendo,Game Freak,481.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Call of Duty,2003-10-29,Series,Activision,Infinity Ward,425.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Grand Theft Auto,1998-03-27,Series,Rockstar Games,Rockstar North,410.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Super Mario,1983-07-20,Series,Nintendo,Nintendo,408.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,FIFA,1993-12-15,Series,EA Sports,Extended Play Productions (1991-1997),325.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Minecraft,2011-11-18,Series,Mojang,Mojang,300.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Minecraft,2011-11-18,All,Mojang,Mojang AB,300.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Lego,1997-09-26,Series,Warner Bros. Interactive Entertainment,TT Fusion,203.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Assassin's Creed,2007-11-13,Series,Ubisoft,Ubisoft,200.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 2.1 Tổng quan dữ liệu

### 2.1.1 Thông tin cơ bản

In [33]:
print("Số dòng trong dataset là; ",len(df))
print("Số cột trong dataset là: ",df.shape[-1])

Số dòng trong dataset là;  64005
Số cột trong dataset là:  14

In [34]:
print("Mỗi dòng sẽ biểu diễn thông tin về doanh số của một game")
df.sample()

Mỗi dòng sẽ biểu diễn thông tin về doanh số của một game

,name,date,platform,publisher,developer,shipped,total,america,europe,japan,other,vgc,critic,user
56276,Contra: Rogue Corps,2019-09-24,NS,Konami,Konami,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
print(f"Kích thước của dataset gồm {df.shape[0]} dòng, {df.shape[-1]} cột")

Kích thước của dataset gồm 64005 dòng, 14 cột

### 2.1.2 Tính toàn vẹn dữ liệu

In [36]:
dup_count = df.duplicated().sum()
print(f"Số dòng bị lặp lại trong dataset là: {dup_count}")

df = df.drop_duplicates()
print("Đã loại bỏ các dòng trùng lặp khỏi dataset.")

Số dòng bị lặp lại trong dataset là: 23
Đã loại bỏ các dòng trùng lặp khỏi dataset.

Ở đây em chọn loại bỏ các dòng bị trùng lặp vì các dữ liệu này là có 3 thuộc tính để xác định nó là duy nhất là một tên game,ngày phát hành,nền tảng,duy nhất nên không phải ngẫu nhiên có thể trùng lặp nên sự trùng lặp dòng này là do sơ suất không phải dữ liệu ngẫu nhiên trùng lặp

In [39]:
empty_cols = df.columns[df.isnull().all()].tolist()
if empty_cols:
    print("Các cột trống hoàn toàn:", empty_cols)
else:
    print("Không có cột nào trống hoàn toàn.")

Không có cột nào trống hoàn toàn.

### 2.1.3 Danh mục cột

 Ý nghĩa của từng cột trong dataset:
 - name: tên của trò chơi điện tử.
 - date: ngày phát hành trò chơi điện tử.
 - platform: nền tảng chơi game (All – tất cả nền tảng, Series – toàn bộ series game).
 - publisher: nhà phát hành.
 - developer: nhà phát triển.
 - shipped: số lượng bản đã xuất xưởng (chỉ áp dụng với các bản ghi có platform là All hoặc Series).
 - total: tổng số bản đã bán ra (tính theo triệu bản).
 - america: số bản bán tại khu vực Châu Mỹ (triệu bản).
 - europe: số bản bán tại khu vực Châu Âu (triệu bản).
 - japan: số bản bán tại Nhật Bản (triệu bản).
 - other: số bản bán ở các khu vực khác trên thế giới.
 - vgc: điểm đánh giá từ VGChartz.com.
 - critic: đánh giá từ giới phê bình.
 - user: đánh giá từ người dùng.

 Một số cột tiềm năng có thể phân tích gồm:
 - date: giúp phân tích xu hướng phát hành game theo thời gian, xác định các mốc tăng trưởng, mùa vụ,...
 - platform: nghiên cứu sự khác biệt về doanh số, thị phần hoặc điểm đánh giá giữa các nền tảng hoặc series.
 - publisher & developer: có thể phân tích mức độ thành công của từng nhà phát hành/nhà phát triển.
 - critic & user: cho phép so sánh giữa đánh giá chuyên môn và đánh giá từ người chơi, phân tích các yếu tố ảnh hưởng đến điểm số.

Không có cột nào nên được drop vì từng cột sẽ có ý nghĩa để phân tích khác nhau tùy theo khía cạnh

### 2.1.4 Kiểu dữ liệu

In [46]:
print("Kiểu dữ liệu hiện tại của các cột")
print(df.dtypes)
print("Cột date có kiểu dữ liệu object thay vì datetime")
# Chuyển cột 'date' từ object sang kiểu datetime
df['date'] = pd.to_datetime(df['date'], errors='coerce')
print("Đã chuyển kiểu dữ liệu date từ object sang", df['date'].dtype)

Kiểu dữ liệu hiện tại của các cột
name                 object
date         datetime64[ns]
platform             object
publisher            object
developer            object
shipped             float64
total               float64
america             float64
europe              float64
japan               float64
other               float64
vgc                 float64
critic              float64
user                float64
dtype: object
Cột date có kiểu dữ liệu object thay vì datetime
Đã chuyển kiểu dữ liệu date từ object sang datetime64[ns]

## 2.2 Phân tích cột dạng số

In [37]:
numeric_cols = ["shipped", "total", "america", "europe", "japan", "other", "vgc", "critic", "user"]
print("Numeric:", numeric_cols)

Numeric: ['shipped', 'total', 'america', 'europe', 'japan', 'other', 'vgc', 'critic', 'user']

## 2.3 Phân tích cột dạng phân loại

In [38]:
categorical_cols = ["name", "platform", "publisher", "developer"]
print("Categorical:", categorical_cols)

Categorical: ['name', 'platform', 'publisher', 'developer']